.container-fluid{
    padding:20px;
}
.board-layout{
    width: 300px;
    margin:10px;
    clear:all;
}
.workspace-create{
    opacity:0.9;
    background: black;
    
}
.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  .error{
      font-size:10px;
      margin:0;
  }